.project-layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6em;
}

.project-info {
  line-height: 1.5em;
}

.project-text {
  margin-bottom: 1.5em;
}

.project-info dt {
  font-weight: bold;
}

.project-gallery ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1.5em;
}

.project-gallery li:first-child {
  grid-column-start: 1;
  grid-column-end: -1; /* ends on last column */
}

.project-gallery img {
  width: 100%;
}
